/* html, body {
    height: 100%;
} */
header {
    position: relative;
    
}
.logo {
    background-color: #76052A;
    width: 39.5%;
    height: 100px;
    border-radius: 20px 20px 0 0;
    float: left;
    margin-right: 0.5%;
    padding-top: 30px;
    display: grid;
    align-items: center;
    justify-items: center;
}
img{
    height: 50px;
     
  }
.menu {
    
    background-color: #E73C50;
    width: 60%;
    height: 100px;
    border-radius: 20px 20px 0 0;
    float: left;
    padding-top: 30px;
    
     
}


nav ul {
    list-style: none; 
    padding: 0; 
    margin: 0;
    text-align: center;
   
}

nav li {
    display: inline; /*Horizontal*/
    margin-right: 20px;
}

nav a {

    text-decoration: none;
    color: white;
    font-size: 16px;
}
nav a:hover {
    text-decoration: underline;
}

aside {
    background-color: #76052A;
    width: 39.5%;
    height: 700px;
    border-radius: 0 0 20px 20px;
    float: left;
    display: grid;
    grid-template-rows: 50% 50%;
    align-items: center;
    justify-items: center;
}
.izquierda {
   max-width: 90%;
   height: auto;

    
}
.botonimpresion {
    max-width: 40%;
    height: auto;
    border-radius: 50%;
    background: #005478;
    width: 150px;
  
  }

  .botonimpresion:hover {
    background: #76052A;
  }
  .botontienda{
    max-width: 40%;
    height: auto;
    border-radius: 50%;
    background: #005478;
    width: 200px;

  
  }

  .botontienda:hover {
    background: #76052A;
  }

main {
    background-color: #E73C50;
    width: 60% ;
    height: 700px;
    border-radius: 0 0 20px 20px;
    float: right;
    text-align: center;
     
}
.logoenmain{
    max-width: 50%;
    height: auto;

   
    
}
.titulo {
    color: white;


}
footer {
    background-color: #76052A;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 25px;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
  }

  .politicas ul {
    list-style: none; 
    padding: 0; 
    margin: 0;
    text-align: center;
   
}

.politicas li {
    display: inline; /*Horizontal*/
    margin-right: 20px;
}

.politicas a {

    text-decoration: none;
    color: white;
    font-size: 16px;
}
.politicas a:hover {
    text-decoration: underline;
}

